@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {

}

body {
  font-family: 'Roboto' sans-serif;
  font-size: 1.5rem;
}

.columns {
  column-count: 4;
  column-width: 250px; /*dla responsywności*/
  columns: 250px 4; /*oznacza to co linija wyżej tylko krócej*/
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0; /*jest git bo css nie dubluje marginesów*/
}

.columns h2 {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid; /*naprawia ten błąd z przeskakiwaniem tła*/
  break-before: column; /*sprawia że będzie na górze contentu*/
}

.columns .quote { /*zastosowano dwie klasy, żeby specificity było większe od .columns p*/
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}

.nowrap {
  white-space: nowrap;
}