* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  
  border: dashed 2px red;
  margin: 1.5em 2em 2em;
  /* margin-top: 1.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em; */
  padding: 2em;
}
