/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');  może być tak zamist linka w html*/

body {
  padding: 10%;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* input, button {
  font: inherit;
  color: #333;
} */

p {
  text-decoration: underline/*overline,line-through,none etc*/;
  text-transform: uppercase;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.2;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
  font-weight: 300;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif /*serif, monospace, fantasy, cursive*/;

}

.circle {
  width: 200px;
  height: 200px;
  background-color: lightpink;
  border-radius: 50px;
}